@model LoginViewModel
<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css" />
</head>
<div class="form">
    <form asp-controller="Auth" asp-action="Login" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="header">Login</div>
        <div class="block">
            <div>
                <label>Username</label>
                <input asp-for="Username" class="input" />
                <span asp-validation-for="Username"></span>
            </div>
        </div>
        <div class="block">
            <div>
                <label>Password</label>
                <input asp-for="Password" class="input" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="block">
            <button type="submit" class="button">Sign In</button>
        </div>
        <div class="block">
            <a asp-controller="Auth" asp-action="Register"
               asp-route-returnUrl="@Model.ReturnUrl" class="switch-button">Register</a>
        </div>
    </form>
</div>